[submodule "IPS_demo_v2/vendor/spdlog"]
	path = IPS_demo_v2/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine1/vendor/GLFW"]
	path = Engine1/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Engine1/vendor/imgui"]
	path = Engine1/vendor/imgui
	url = https://github.com/TheCherno/imgui
