[submodule "IPS_demo_v2/vendor/spdlog"]
	path = Engine1/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
	branch = v1.x
[submodule "Engine1/vendor/GLFW"]
	path = Engine1/vendor/GLFW
	url = https://github.com/vovojta/glfw
	branch = master
[submodule "Engine1/vendor/imgui"]
	path = Engine1/vendor/imgui
	url = https://github.com/vovojta/imgui
	branch = docking2
[submodule "Engine1/vendor/glm"]
	path = Engine1/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master