[submodule "IPS_demo_v2/vendor/spdlog"]
	path = IPS_demo_v2/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Engine1/vendor/GLFW"]
	path = Engine1/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
	ignore = dirty
[submodule "Engine1/vendor/imgui"]
	path = Engine1/vendor/imgui
	url = https://github.com/TheCherno/imgui
	ignore = dirty
[submodule "Engine1\\vendor\\glm"]
	path = Engine1\\vendor\\glm
	url = https://github.com/g-truc/glm
[submodule "Engine1/vendor/stb"]
	path = Engine1/vendor/stb
	url = https://github.com/nothings/stb
